<h1>WELCOME TO AIRBNB !!!</h1>

<h3> Hi <%= @user.email %> </h3>

<p>
We are very happy of your registration to our service.
<br>
<br>

You can now book a flat or even rent your flat.
<br>
<br>

Feel free to ask any questions.
<br>
<br>

Alex


</p>
