#page_index_flat {
  h5 {
    margin: 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .contain_price {
    position: relative;
  }
  .card_index_flat{

  }

  .flat_picture{
    width: 100%;
  }
  .bottom_card_flat{
    background-color: $our_white;
  }

  .flat_price{

    background-color: #303538;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left:0;
    color: $our_white;
    display: table;
    p {
      display: table-cell;
      vertical-align: middle;

    }
  }
  .prop_picture{

  }
  #prop_pictures{
    border: 2px solid;
    border-color: $our_grey;
    position: absolute;
    z-index: 100;
    bottom: 0;
    right:0;

  }
}

