#banner{
  background: image-url('background.jpg');
  background-size: cover;
  padding: 240px;
  color: white;
  padding: 150px;
  padding-top: 100px;
  height: 650px;
  p {
  font-size:25px;
  font-weight: 100;
  }
}


.btn-margin{
  margin-top: 20px;
}

#features {
  background-color:#EDEFED;
  color: #1B1717;
  padding: 100px;
  border: 40px
}

.img-circle {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center

}


.text-black {
color:#736C6C;
}
