// Your footer style
#footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: 100px;
  background-color: #38F4A5;
  width: 100%;
  color: white;
  font-size: 30px;
}



.smaller-text{
  font-size: 6;
}
